# =====================
# SVN
# =====================
.svn/

# =====================
# Visual Studio
# =====================
.vs/
*.user

# =====================
# Build outputs
# =====================
bin/
obj/

# =====================
# NuGet
# =====================
packages/

# =====================
# Binaries
# =====================
*.exe
*.dll
*.pdb

# =====================
# OS
# =====================
.DS_Store
Thumbs.db