<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- 1. ポーリング実行可否 -->
		<add key="PollingEnabled" value="true" />
		<!-- 2. ポーリング間隔（ミリ秒） -->
		<add key="PollingIntervalMillSec" value="10000" />
		<!-- 3. リトライ最大回数 -->
		<add key="RetryMaxCount" value="3" />
		<!-- 4. リトライ間隔（ミリ秒） -->
		<add key="RetryIntervalMilliSec" value="1000" />
		<!-- 5. SFTP受信ディレクトリ（リモート） -->
		<add key="RecvRemoteDir" value="/C:/SftpServer" />
		<!-- 6. SFTP送信ディレクトリ（リモート） -->
		<add key="SendRemoteDir" value="/C:/SftpServer" />
		<!-- 7. 受信ローカルディレクトリ -->
		<add key="RecvLocalDir" value="C:\SftpAgent\recv" />
		<!-- 8. 送信ローカルディレクトリ -->
		<add key="SendLocalDir" value="C:\SftpAgent\send" />
		<!-- 9. 認証方式（パスワード:Password / 認証鍵:PrivateKey） -->
		<add key="AuthType" value="PASSWORD" />
		<!-- 10. 秘密鍵ファイルパス -->
		<add key="PrivateKeyPath" value="C:\keys\id_rsa" />
		<!-- 11. SFTPホスト名 -->
		<add key="SftpHostName" value="127.0.0.1" />
		<!-- 12. SFTPポート番号 -->
		<add key="SftpPort" value="22" />
		<!-- 13. SFTPユーザ名 -->
		<add key="SftpUserName" value="user" />
		<!-- 14. SFTPパスワード -->
		<add key="SftpPass" value="password" />
		<!-- 15. 接続タイムアウト（秒） -->
		<add key="SftpConnectTimeoutSec" value="10" />
		<!-- 16. 転送タイムアウト（秒） -->
		<add key="SftpTransferTimeoutSec" value="60" />
		<!-- 17. 受信対象ZIPファイル名 -->
		<add key="RecvZipFileName" value="recv.zip" />
		<!-- 18. 完了ファイル名 -->
		<add key="CompleteFileName" value="download.complete" />
		<!-- 19. ログレベル -->
		<add key="LogLevel" value="Info" />
	</appSettings>
</configuration>