<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- ポーリング実行可否 -->
		<add key="PollingEnabled" value="true" />
		<!-- ポーリング間隔（ミリ秒） -->
		<add key="PollingIntervalMillSec" value="10000" />
		<!-- リトライ最大回数 -->
		<add key="RetryMaxCount" value="3" />
		<!-- リトライ間隔（ミリ秒） -->
		<add key="RetryIntervalMilliSec" value="1000" />
		<!-- SFTP受信ディレクトリ（リモート） -->
		<add key="RecvRemoteDir" value="/C:/SftpServer" />
		<!-- SFTP送信ディレクトリ（リモート） -->
		<add key="SendRemoteDir" value="/C:/SftpServer" />
		<!-- 受信ローカルディレクトリ -->
		<add key="RecvLocalDir" value="C:\SftpAgent\recv" />
		<!-- 送信ローカルディレクトリ -->
		<add key="SendLocalDir" value="C:\SftpAgent\send" />
		<!-- 認証方式（パスワード:Password / 認証鍵:PrivateKey） -->
		<add key="AuthType" value="PASSWORD" />
		<!-- 秘密鍵ファイルパス -->
		<add key="PrivateKeyPath" value="C:\keys\id_rsa" />
		<!-- SFTPホスト名 -->
		<add key="SftpHostName" value="127.0.0.1" />
		<!-- SFTPポート番号 -->
		<add key="SftpPort" value="22" />
		<!-- SFTPユーザ名 -->
		<add key="SftpUserName" value="user" />
		<!-- 暗号化済みパスワード（Base64） -->
		<add key="SftpPassEnc" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKWWY3n5BMUqhaaMCgKJnNQQAAAACAAAAAAAQZgAAAAEAACAAAADLrHTkenOlsN71JYj63KWKAsMRwwT9cKfct6nAY1U6EAAAAAAOgAAAAAIAACAAAACuVsqoSuLNC/uNGSrtL7jWDfnIGakbpRuk59nEMbnlrRAAAADCfRqiTO343pDuyOV20vVyQAAAAMxqMmEXnqXDMfaHq75hUDMcGKkC
nVhE8KJ6r7HzAQOJ2lKzdlJPUYBZT+LLDf0KhM7F8JJp2oU6PJGyQZe8pio=" />
		<!-- SFTPパスワード -->
		<add key="SftpPass" value="" />
		<!-- 接続タイムアウト（秒） -->
		<add key="SftpConnectTimeoutSec" value="10" />
		<!-- 転送タイムアウト（秒） -->
		<add key="SftpTransferTimeoutSec" value="60" />
		<!-- 受信対象ZIPファイル名 -->
		<add key="RecvZipFileName" value="recv.zip" />
		<!-- 完了ファイル名 -->
		<add key="CompleteFileName" value="download.complete" />
		<!-- ログレベル -->
		<add key="LogLevel" value="Info" />
	</appSettings>
</configuration>